@font-face{
  font-family: "PeaceSansRegular";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PeaceSansRegular.woff2') format('woff2'), url('../fonts/PeaceSansRegular.woff') format('woff');
}

@font-face{
  font-family: "OpenSansItalic";
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/OpenSansItalic.woff2') format('woff2'), url('../fonts/OpenSansItalic.woff') format('woff');
}

@font-face{
  font-family: "OpenSansRegular";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/OpenSansRegular.woff2') format('woff2'), url('../fonts/OpenSansRegular.woff') format('woff');
}

@font-face{
  font-family: "LemonMilkBold";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/LemonMilkBold.woff2') format('woff2'), url('../fonts/LemonMilkBold.woff') format('woff');
}

@font-face{
  font-family: "OpenSansBold";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/OpenSansBold.woff2') format('woff2'), url('../fonts/OpenSansBold.woff') format('woff');
}

@font-face{
  font-family: "OpenSansExtrabold";
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/OpenSansExtrabold.woff2') format('woff2'), url('../fonts/OpenSansExtrabold.woff') format('woff');
}