// @extend %RobotoMedium-500;

$title: #494949;
$text: #6a6a6a;
$bg-color-1: #fff;
$bg-color-1: #f4f4f4;

%peace-400{
  font-family: "PeaceSansRegular";
  font-weight: 400;
}

%laro-700{
  font-family: "Dosis-Regular";
  font-weight: 700;
}

%OpenSans-700{
  font-family: "OpenSansBold";
  font-weight: 700;
}

%OpenSans-900{
  font-family: "OpenSansExtrabold";
  font-weight: 900;
}

%OpenSans-300{
  font-family: "OpenSansItalic";
  font-weight: 300;
}

%lemon-700{
  font-family: "LemonMilkBold";
  font-weight: 700;
}

%Dosis-Medium-500{
  font-family: "Dosis-Medium";
  font-weight: 500;
}

%OpenSans-400{
  font-family: "OpenSansRegular";
  font-weight: 400;
}